<div class="main-container">
  <div class="save-btn-container">
    <button class="btn">Save</button>
  </div>
  <div class="vd">
    <div class="vd__left">
      <div class="vd__left-title">
        Visual Designer
      </div>
      <div class="vd__left-item-list">
        <div class="vd__left-item draggable" [attr.data-id]="item.id" *ngFor="let item of leftItems">
          <i class="fa fa-{{item.icon}}"></i>
          <span class="pl-2">{{ item.text }}</span>
        </div>
      </div>
    </div>
    <div class="vd__right">
      <div class="vd-tab-title-list">
        <div class="vd-tab-title">
          <span class="pr-2">Welcome</span>
          <i class="fa fa-trash-o pr-2"></i>
          <i class="fa fa-sort-desc"></i>
        </div>
      </div>
      <div class="vd-tab-conent sortable">
        <div *ngFor="let item of rightItems" [attr.data-id]="item.id">
          <div class="vd-collasable">
            <div class="vd-collasable__title">
              <span class="d-flex"><i class="fa fa-sort-desc pr-2"></i>{{ item.text }}</span>
              <i class="fa fa-trash-o"></i>
            </div>
            <div class="vd-collasable__content">
              {{ item.text }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
