/* You can add global styles to this file, and also import other style files */
// @import "assets/font-awesome.min.css";
// @import "assets/bootstrap.min.css";
// @import "assets/rvd.7bbeab8e85c930fd.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
$primay-color: #37a000;
$background-color: #f1f1f1;

.main-container {
  display: flex;
  flex-direction: column;
}
.save-btn-container {
  display: flex;
  padding: 1.4rem 3.5rem;
  flex-direction: row-reverse;
  .btn {
    background-color: $primay-color;
    color: white;
  }
  background-color: $background-color;
}
.vd {
  display: flex;
}
.vd__left {
  display: flex;
  flex-direction: column;
  flex: 15%;
  background-color: $background-color;
  padding: 0 1.5rem 4rem;
}
.vd__left-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.vd__left-item-list {
  display: flex;
  flex-direction: column;
}
.vd__left-item {
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  background-color: $primay-color;
  color: white;
  border-radius: 5px;
  cursor: move;
  user-select: none;
}
.vd__right {
  display: flex;
  flex-direction: column;
  flex: 80%;
  background-color: white;
  padding: 1.5rem;
}
.vd-tab-title-list {
  display: flex;
  border-bottom: 1px solid #eee;
  .vd-tab-title {
    background-color: $primay-color;
    color: white;
    padding: 0.2rem 0.8rem;
    border-radius: 5px 5px 0px 0px;
  }
}
.vd-tab-conent {
  padding-top: 1rem;
  flex: 1;
}


// drag n drop ui helper
.ui-helper {
  width: 14rem;
  max-width: 100%;
}
.ui-state-highlight {
  border: 2px dashed #ccc;
  width: 100%;
  height: 2rem;
  background-color: #eee;
}

// collapsable
.vd-collasable {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 0.5rem;
}
.vd-collasable__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  background-color: $primay-color;
  color: white;
  height: 2rem;
}
